@{
    ViewBag.Title = "Home";
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Ask Survey-Your Opinion Matters</title>
    <!-- Bootstrap CSS -->
    <link href="~/Main/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Main/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Main/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Main/css/style.css" rel="stylesheet" />
    <link href="~/Main/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/Main/vendors/linericon/style.css" rel="stylesheet" />

    <link href="~/Main/vendors/nice-select/css/nice-select.css" rel="stylesheet" />
    <link href="~/Main/vendors/animate-css/animate.css" rel="stylesheet" />

    <link href="~/Main/vendors/flaticon/flaticon.css" rel="stylesheet" />
   
 

    <!-- main css -->
    <link href="~/Main/css/style.css" rel="stylesheet" />
  
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a><img src="~/Images/logooooo.PNG" alt="Logo" /></a> 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-center">
                            <li class="nav-item active"><a class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="#" class="nav-link">Elements</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                            
                        </ul>

                        
                            <p class="nav-justified">@Html.ActionLink("Register", "Register", "Users")</p>
                        &nbsp; &nbsp; &nbsp;
                            <p class="nav-justified">@Html.ActionLink("Login", "Login", "Users")</p>
                        
                            @*<ul class="nav navbar-nav navbar-right" style="text-space-collapse:inherit">
                                <li class="nav-item">@Html.ActionLink("Register", "Create", "Users")</li>
                            </ul>*@
                       
                       
                       
                            @*<ul class="nav navbar-nav navbar-right" style="text-space-collapse:inherit">
                                <li class="nav-item">@Html.ActionLink("Login", "Login", "Users")</li>
                            </ul>*@
                        
                        
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner_content">
                            
                              <h1> AskSurvey -</h1> 
                              
                            <h2> Your Opinion Matters</h2>
                            <br />
                            <br />

                            <p>
                                Use AskSurvey to drive your business forward by using our free online survey tool to capture the voices and opinions of the people who matter most to you.
                            </p>
                            <div class="d-flex align-items-center">
                                <button class="primary_btn">@Html.ActionLink("Get Started", "Register", "Users", new { area = "" }, new { @style = "color:white" })</button>
                               
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="home_right_img">
                        
                            <img class="img-fluid"src="~/Main/img/banner/home-right.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Start Features Area =================-->
    <section class="section_gap features_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="main_title">
                        <p class="top_title">Exclusive Stunning Features</p>
                        <h2>Create Online Surveys of your own choice</h2>
                        <p>Ask Survey is the tool to use for your online surveys.</p>
                        <p>Explore the vast possibilities you have to create your survey professionally with Ask Survey.</p>

                           <img src="~/Main/img/Customer-Survey-Blog-Image.png" />
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="left_features">
                        <img class="img-fluid" src="~/Main/img/f-img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <!-- single features -->
                    <div class="single_feature">
                        <div class="feature_head">
                            <span class="lnr lnr-screen"></span>
                            <h4>Design Surveys</h4>
                        </div>
                        <div class="feature_content">
                            <p>Easy to create surveys and forms for everyone</p>
                        </div>
                    </div>
                    <!-- single features -->
                    <div class="single_feature">
                        <div class="feature_head">
                            <span class="lnr lnr-screen"></span>
                            <h4>Share Surveys</h4>
                        </div>
                        <div class="feature_content">
                            <p>Send professional surveys to the Social Media and other sites</p>
                        </div>
                    </div>
                    <!-- single features -->
                    <div class="single_feature">
                        <div class="feature_head">
                            <span class="lnr lnr-screen"></span>
                            <h4>Stunning Responses</h4>
                        </div>
                        <div class="feature_content">
                            <p>Analyze reports through customer responses.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Features Area =================-->
    <!--================Recent Update Area =================-->
    <section class="recent_update_area">
        <div class="container">
            <div class="recent_update_inner">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            <span class="lnr lnr-screen"></span>
                            <h6>Design Trends</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                           aria-selected="false">
                            <span class="lnr lnr-screen"></span>
                            <h6>Development</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                           aria-selected="false">
                            <span class="lnr lnr-screen"></span>
                            <h6>Delivery</h6>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row recent_update_text align-items-center">
                            <div class="col-lg-5">
                                <div class="common_style">

                                <img src="~/Main/img/ask-customer-feedback.png" />
                                    <img src="~/Main/img/chart.jpg" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="chart_img">
                                    <img class="img-fluid" src="~/Main/img/chart.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row recent_update_text align-items-center">
                            <div class="col-lg-5">
                                <div class="common_style">
                                    <img src="~/Main/img/1502995963_blob.jpg" />
                                    
                                    <a class="primary_btn" href="#"><span>Learn More</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="chart_img">
                                    <img class="img-fluid" src="~/Main/img/chart.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--================ Recent Update Area =================-->
    <!--================Start Big Features Area =================-->
    <section class="section_gap big_features">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <p class="top_title">Features Specifications</p>
                        <h2>Amazing Features That make it Awesome!</h2>
                        <p>Ask Survey has a lot more features. Try it for free by creating an account now </p>
                    </div>
                </div>
            </div>
            <div class="row features_content">
                <div class="col-lg-4 offset-lg-1">
                    <div class="big_f_left">
                        <img class="img-fluid" src="~/Main/img/f-img1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="common_style">
                        <p class="line">Modern Survey Trends</p>
                        <h3>We Believe that <br /> Inner beauty Lasts Long</h3>
                        <p>Ask surveys offers a tremendous experience for designing surveys, distributing to respondents, and analysing the results all in one place. Utilize our Ask survey to build forms of your own choice.</p>
                       
                    </div>
                </div>
                <div class="border-line"></div>
                <img class="shape1" src="~/Main/img/shape1.png" alt="">
                <img class="shape2" src="~/Main/img/shape2.png" alt="">
                <img class="shape3" src="~/Main/img/shape1.png" alt="">
            </div>

            <div class="row features_content bottom-features">
                <div class="col-lg-5">
                    <div class="common_style">
                        <p class="line">Modern Design Trends</p>
                        <h3>We Believe that <br /> A Good design Leads to customer satisfaction</h3>
                        <p>A well-designed project leads to higher quality responses. With access to a host of question types and intelligent logics, you’ll have no trouble making your own survey.</p>
                        
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <div class="big_f_left">
                        <img class="img-fluid" src="~/Main/img/f-img2.png" alt="">
                    </div>
                </div>
                <div class="border-line"></div>
                <img class="shape1" src="~/Main/img/shape1.png" alt="">
                <img class="shape2" src="~/Main/img/shape2.png" alt="">
                <img class="shape3" src="~/Main/img/shape1.png" alt="">
            </div>
        </div>
    </section>
    <!--================End Big Features Area =================-->
    <!--================Srart Pricing Area =================-->
    @*<section class="price_area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <p class="top_title">Features Specifications</p>
                        <h2>Amazing Features That make it Awesome!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                </div>
            </div>
            <div class="price_inner row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="price_item">
                        <div class="price_head">
                            <h4>Real Basic</h4>
                        </div>
                        <div class="price_body">
                            <ul class="list">
                                <li><a href="#">2.5 GB Space</a></li>
                                <li><a href="#">Secure Online Transfer</a></li>
                                <li><a href="#">Unlimited Styles</a></li>
                                <li><a href="#">Customer Service</a></li>
                            </ul>
                        </div>
                        <div class="price_footer">
                            <h3><span class="dlr">$</span> 39</h3>
                            <a class="primary_btn" href="#"><span>Get Started</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="price_item">
                        <div class="price_head">
                            <h4>Real Standard</h4>
                        </div>
                        <div class="price_body">
                            <ul class="list">
                                <li><a href="#">10 GB Space</a></li>
                                <li><a href="#">Secure Online Transfer</a></li>
                                <li><a href="#">Unlimited Styles</a></li>
                                <li><a href="#">Customer Service</a></li>
                            </ul>
                        </div>
                        <div class="price_footer">
                            <h3><span class="dlr">$</span> 69</h3>
                            <a class="primary_btn" href="#"><span>Get Started</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="price_item">
                        <div class="price_head">
                            <h4>Real Ultimate</h4>
                        </div>
                        <div class="price_body">
                            <ul class="list">
                                <li><a href="#">Unlimited Space</a></li>
                                <li><a href="#">Secure Online Transfer</a></li>
                                <li><a href="#">Unlimited Styles</a></li>
                                <li><a href="#">Customer Service</a></li>
                            </ul>
                        </div>
                        <div class="price_footer">
                            <h3><span class="dlr">$</span> 99</h3>
                            <a class="primary_btn" href="#"><span>Get Started</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!--================End Pricing Area =================-->
    <!--================ Start Testimonial Area =================-->
    <div class="section_gap_top testimonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="main_title">
                        <p class="top_title">User Feedback</p>

                        <img src="~/Main/img/ask-customer-feedback.png" />
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <!--================ End Testimonial Area =================-->
    <!--================ Srart Brand Area =================-->
    @*<section class="brand_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel brand-carousel">
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="~/Main/img/brands/logo1.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="~/Main/img/brands/logo2.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="img/brands/logo3.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="~/Main/img/brands/logo4.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="~/Main/img/brands/logo5.png" alt="">
                            </div>
                        </div>
                        <!-- single-brand -->
                        <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="~/Main/img/brands/logo6.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!--================ End Brand Area =================-->
    <!--================Impress Area =================-->
    <section class="impress_area">
        <div class="container">
            <div class="impress_inner">
                <h2>Got Impressed to our features?</h2>
                <p>We need your Feedback</p>
                <a class="primary_btn" href="#"><span>Give Feedback</span></a>
            </div>
        </div>
    </section>
    <!--================End Impress Area =================-->
    <!--================Footer Area =================-->
    <footer class="footer_area">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>About Me</h3>
                        </div>
                        <p>
                            Do you want to be even more successful? Learn to love learning and growth. The more effort you put into
                            improving your skills,
                        </p>
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </aside>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>Newsletter</h3>
                        </div>
                        <p>Stay updated with our latest trends</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                  method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '"
                                           required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-2">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>Follow Me</h3>
                        </div>
                        <p>Let us be social</p>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    <!--================End Footer Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Main/js/jquery-3.2.1.min.js"></script>
    <script src="~/Main/js/popper.js"></script>
    <script src="~/Main/js/bootstrap.min.js"></script>
    <script src="~/Main/js/stellar.js"></script>
    <script src="~/Main/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Main/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Main/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Main/vendors/isotope/isotope-min.js"></script>
    <script src="~/Main/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Main/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Main/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Main/vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Main/js/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/Main/js/gmaps.min.js"></script>
    <script src="~/Main/js/theme.js"></script>
</body>

</html>